* {
  font-family: arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.background_img {
  background-image: url('./img/background_img.jpg');
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}

.formulario {
  position: absolute;
  right: 0;
  margin: 80px;
  margin-right: 10%;
  max-width: 90%;
  padding: 20px;
  background-color: white;
  color: black;
  border: solid 2px #6c4539;
  border-radius: 10px;
}

h1 {
  margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: solid 1px #6c4539;
  background-color: #ffecfc;
  border-radius: 50px;
}

input:focus {
  background-color: #ffecfc;
  outline: none;
}

.esqueci_senha {
  font-size: 20px;
  color: #f45bf4;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
}

.esqueci_senha:hover {
  text-decoration: underline;
  color: hsl(300, 99%, 64%);
}

.botao_login, .botao_cadastrar {
  background-color: #f45bf4;
  color: white;
  padding: 15px 20px;
  border: solid 2px #6c4539;
  cursor: pointer;
  width: 60%;
  opacity: 0.8;
  font-size: 20px;
  margin-left: 20%;
  border-radius: 50px;
}

.botao_login:hover, .botao_cadastrar:hover {
  opacity: 1;
  background-color: hsl(300, 99%, 64%);
}
