.checkbox {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.checkbox input {
  margin-right: 0.5rem;
}

.checkbox label a {
  color: #f45bf4;
  text-decoration: none;
}

.checkbox label a:hover {
  text-decoration: underline;
  color: hsl(300, 99%, 64%);
}
